<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<small>Escrito por: <%= @post.user&.name || "Anónimo" %></small>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Eliminar', post_path(@post), method: :delete, data: { confirm: '¿Estás seguro?' } %> |
<%= link_to 'Volver a Publicaciones', posts_path %>

<h2>Comentarios</h2>
<%= render 'comments/form', post: @post %>
<%= render @post.comments %>
